<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:100,300,500">
      <title>SignUp</title>
    </head>
    <body>
      <div class="full-screen-container">
        <div class="signup-container">
          <h3 class="signup-title">Registro de Usuario!</h3>

          <div class="input-group">

            <label>Nombre de Usuario</label>
            <input type="text" [formControl]="nombreUsuario" required/><br />
          </div>
          <div class="input-group">

            <label>Contraseña</label>
            <input type="password" [formControl]="passPrueba" required>
          </div>
          <div class="input-group">

            <label>Repita Contraseña</label>
            <input type="password" [formControl]="passUsuario" required/><br />
          </div>
          <input type="button" (click)="PostUser()" class="signup-button" value="Confirmar" />
        </div>
      </div>
 

    
    </body>
</html>
