
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:100,300,500">
  <title>Login</title>
</head>
<body>
  <div class="full-screen-container">
    <div class="login-container">
      <h3 class="login-title">Bienvenido a Billetera Clip!</h3>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="input-group">
          <label>Email de Usuario</label>
          <input type="email" formControlName="email" placeholder="Email" /><br />
        </div>
        <div class="input-group">
          <label>Contraseña</label>
          <input type="password" formControlName="password" placeholder="********">
        </div>
        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success btn-lg">Iniciar Sesión</button><br>
        <a [routerLink]="['/signup']">Registrar Usuario</a>
      </form>
    </div>
  </div>
</body>
</html>
